<!DOCTYPE html>
<!--
   Name:   Phil Hansen
   Class:  ISQA 3900
   Desc:   A page to list the posts made in the blog
   Date:   10 Feb 2019
-->
<html lang="en">
   <head>
      <title>Phil Hansen</title>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" /> 
      <link rel="icon" type="image/gif" href="ph_ico.gif" sizes="16x16" />
      <!--[if lt IE 9]>
	   <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
   </head>
   <body>
      <div>
         <h1>Phil's Django Girls Blog</h1>
      </div>
      <div>
         <p>published: 10.02.2019, 18:44</p>
         <h2>First Post</h2>
         <p>Eu consectetur id nisi irure aliquip labore sunt sit aliqua ex occaecat.</p>
      </div>
      <div>
         <p>published: 10.02.2019, 18:44</p>
         <h2>Second Post</h2>
         <p>Eiusmod nostrud et elit aliquip est duis non occaecat sit aute cillum officia.</p>
      </div>
   </body>
</html>